@import url(../custom.css);

/* SEÇÂO 1 */

.inicio .container,
.trilha .container{
    width: 1079px;
}


.inicio{
    height: 680px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.block-inicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.block-inicio-etiqueta {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.block-inicio-etiqueta h6{
    color: #FF5E2B;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 114.286% */
    letter-spacing: 2.24px;
    text-transform: uppercase;
    padding: 12px 16px;
    border-radius: 4px;
    background: rgba(255, 94, 43, 0.08);
    margin: 116px 0 24px 0;
}

.block-inicio-etiqueta .rosa{
    background: rgba(247, 4, 92, 0.08);
    color: #F7045C;
}
.block-metas{
    padding: 24px 0 48px 0;
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
}

.block-metas div{
    display: flex;
    align-items: center;
    gap: 8px;
}

.block-metas img{
    border-radius: 8px;
    background: var(--gray-100, #E3E4EB);
    padding: 8px;
}

.block-metas h6{
    font-weight: 400;
    font-size: 18px;
    color: #363638;
}


/**/

/* RESPONSIVIDADE SEÇÂO 1 */



/**/

/* SEÇÂO 2 */

.trilha{
    margin: -216px 0 88px 0;
}

.block-trilha-tag {
   display: flex;
   align-items: center;
   gap: 12px;
   margin-bottom: 8px;
}

.block-trilha-tag h5{
    color: #0E55A8;
}

.block-trilha-destaque{
    padding: 184px 230px 181px 260px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
    border: 2px solid var(--gray-100, #E3E4EB);
    margin: 40px 0 80px 0;
}

.block-trilha-destaque h4{
    color: #FF5E2B;
    font-size: 24.75px;
    font-weight: 500;
    font-style: normal;
    line-height: 116.667%; /* 116.667% */
    letter-spacing: 1.98px;
}

.block-trilha-destaque h2{
    font-size: 82.5px;
    font-style: normal;
    font-weight: 700;
    line-height: 99px; /* 120% */
}

.block-trilha-conteudo h3,
.block-trilha-anfitriao h3{
    color: var(--gray-900, #0A0A0A);
    font-family: Inter;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 153.846%; /* 153.846% */
}

.block-trilha-conteudo p{
    margin: 16px 0 64px 0;
}

.block-trilha-conteudo .paragrafo{
    margin: 16px 0 0 0;
}

.block-trilha-conteudo-postagem{
    margin: 16px 0 64px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.block-trilha-conteudo-postagem-item{
    display: flex;
    align-items: center;
    gap: 16px;
}

.block-trilha-conteudo-postagem img{
    border-radius: 8px;
    background: var(--gray-100, #E3E4EB);
    padding: 8px;
}

.block-trilha-conteudo-postagem h6{
    font-weight: 400;
    font-size: 18px;
    color: #363638;
}

/*-----------------------------------*/

.block-trilha-conteudo-info{
    padding: 40px 24px 40px 24px;
    border-radius: 16px 16px 0 0;
    border: 1px solid var(--gray-100, #E3E4EB);
    background: var(--gray-50, #FAFAFA);
}

.block-trilha-conteudo-info h5{
    color: var(--gray-800, #1E1E1F);
    font-size: 18px;
    line-height: 177.778%; /* 177.778% */
}

.block-trilha-conteudo-info .block-metas img{
    background: none;
    padding: 0;
}

.block-trilha-conteudo-info .block-metas{
    gap: 24px;
    padding: 16px 0 32px 0;
    border-bottom: 1px solid #CACBD1;
    margin-bottom: 32px;
}

.block-trilha-conteudo-info .block-metas div{
    display: flex;
    align-items: center;
    gap: 8px;
}

.block-trilha-conteudo-info .block-metas h6{
    color: var(--gray-500, #6D6D70);
    font-weight: 400;
    font-size: 14px;
}

.block-trilha-conteudo-info .h6{
    color: var(--gray-500, #6D6D70);
    font-weight: 400;
    margin-top: 16px;
}

.block-trilha-conteudo-info-botao{
    border: 1px solid var(--gray-100, #E3E4EB);
    border-top: none;
    border-radius: 0 0 16px 16px;
    background: var(--white, #FFF);
    padding: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.block-trilha-conteudo-curso{
    display: flex;
    padding: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    border-radius: 16px;
    border: 1px solid var(--gray-100, #E3E4EB);
    background: var(--gray-50, #FAFAFA);
    margin-top: 32px;
}

.block-trilha-conteudo-curso-item{
    display: flex;
    padding: 24px;
    flex-direction: column;
    gap: 16px;
    border-radius: 8px;
    border: 1px solid var(--gray-200, #CACBD1);
    background: var(--white, #FFF);
}

.block-trilha-conteudo-curso-item h6{
    font-weight: 400;
    line-height: 114.286%; /* 114.286% */
    letter-spacing: 2.24px;
    text-transform: uppercase;
}


.block-trilha-conteudo-curso-item h5{
    font-weight: 600;
    line-height: 150%; /* 150% */
}

.block-trilha-conteudo-curso-item-desc{
    display: flex;
    align-items: center;
    gap: 8px;
}

.block-trilha-conteudo-curso-item-desc h6{
    color: var(--gray-500, #6D6D70);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 171.429%; /* 171.429% */
    text-transform: none;
    letter-spacing: normal;
}

.block-trilha-anfitriao-conteudo{
    display: flex;
    gap: 32px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 16px;
    padding: 72px 88px;
    border-radius: 16px;
    background: var(--gray-50, #FAFAFA);
}

.block-trilha-anfitriao-conteudo-texto{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.block-trilha-anfitriao-conteudo-texto h5{
    color: var(--gray-700, #363638);
    font-size: 20px;
    line-height: 160%; /* 160% */
}

.block-trilha-anfitriao-conteudo-texto p{
    color: var(--gray-700, #545457);
}


/**/

/* RESPONSIVIDADE SEÇÂO 2 */



/**/

/* SEÇÂO 3 */

/**/

/*RESPONSIVIDADE TITULOS*/

@media (max-width:1024px){
    h1{
        font-size: 46px;
        line-height: 128%; /* 128.571% */
    }
    
    h2{
        font-size: 32px;
        line-height: 140%; /* 140% */
    }
    
    h3{
        font-size: 24px;
        line-height: 150%; /* 150% */
    }
    
    h4{
        font-size: 20px;
        line-height: 133%; /* 133.333% */
    }
    
    h5{
        font-size: 14px;
        line-height: 150%; /* 150% */
    }
    
    h6{
        font-size: 14px;
        line-height: 170%; /* 171.429% */
    }
    
    p{
        font-size: 14px;
        line-height: 177%; /* 177.778% */
    }
    
    a{
        font-size: 14px;
        line-height: 200%; /* 200% */
    }
}

@media (max-width:767px){
    h1{
        font-size: 36px;
        line-height: 128%; /* 128.571% */
    }
    
    h2{
        font-size: 24px;
        line-height: 140%; /* 140% */
    }
    
    h3{
        font-size: 20px;
        line-height: 150%; /* 150% */
    }
    
    h4{
        font-size: 18px;
        line-height: 133%; /* 133.333% */
    }
    
    h5{
        font-size: 12px;
        line-height: 150%; /* 150% */
    }
    
    h6{
        font-size: 12px;
        line-height: 170%; /* 171.429% */
    }
    
    p{
        font-size: 12px;
        line-height: 177%; /* 177.778% */
    }
    
    a{
        font-size: 12px;
        line-height: 200%; /* 200% */
    }
}

/**/