@import url(../custom.css);

/* SEÇÂO 1 */

.inicio{
    height: 900px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.block-inicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.span{
    border-radius: 32px;
    border: 1px solid #FF5E2B;
    background: rgba(255, 94, 43, 0.08);
    padding: 6px 8px;
    color: #FF5E2B;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px; /* 100% */
    letter-spacing: 1.92px;
}

.block-inicio h1{
    color: var(--gray-900, #0A0A0A);
    font-size: 76px;
    font-style: normal;
    font-weight: 700;
    line-height: 90px; /* 118.421% */
    margin-bottom: 18px;
}

.block-inicio h6{
    letter-spacing: 1.4px;
    text-transform: uppercase;
}

.block-inicio-titulo h1 b{
    color: #FF5E2B;
}

.block-inicio-titulo {
    width: 1056px;
}

/**/

/* RESPONSIVIDADE SEÇÂO 1 */

@media (max-width:1024px){
    .inicio{
        height: 700px;
        padding-top: 90px;
    }

    .block-inicio-titulo {
        width: 100%;
    }
    
    .block-inicio-titulo h1{
        font-size: 50px;
        line-height: 118%; /* 118.421% */
    }
}

@media (max-width:767px){

    .inicio{
        height: 600px;
        padding-top: 48px;
    }

    .block-inicio-titulo h1{
        font-size: 36px;
        line-height: 110%;
        margin-bottom: 12px;
    }

    .span{
        font-size: 10px;
        line-height: 10px; /* 100% */
        padding: 4px 6px;
    }

    .block-inicio h6 {
        font-size: 10px;
    }
}

/**/

/* SEÇÂO 2 */

.code{
    margin: -190px 0 60px 0;
}

.code h3 b{
    font-weight: 500;
}

.code .container{
    width: 1056px;
}

.block-code{
    padding-bottom: 200px;
}

.block-code .col-md-6{
   display: flex;
}

.block-code-post-card{
    padding: 48px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    border-radius: 16px;
    border: 1px solid var(--gray-200, #CACBD1);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--gray-100, #E3E4EB);
    box-shadow: 0px 24px 64px -16px rgba(84, 84, 87, 0.48);
}

.block-code-post-card-title{
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 64px 32px 32px 32px;
}

.block-code-post-card-title h2{
    font-weight: 700;
    text-align: center;
}

.block-code-post-card h6{
    margin-bottom: 48px;
    font-weight: 400;
    color: #6D6D70;
}

/**/

/* RESPONSIVIDADE SEÇÃO 2 */

@media (max-width:1024px){
    .code .container{
        width: 100%;
    }

    .block-code{
        padding-bottom: 100px;
    }

    .block-code-post-card{
        padding: 24px;
    }

    .block-code-post-card-title{
        padding: 72px 0 24px 0;
    }

    .block-code-post-card-title h2{
        font-size: 28px;
    }

    .block-code-post-card h6{
        margin-bottom: 32px;
    }
}

@media (max-width:767px){
    .code{
        margin: -130px 0 32px 0;
    }

    .block-code{
        padding-bottom: 48px;
    }

    .block-code-post-card{
       margin-bottom: 16px;
       align-items: center;
    }

    .code h3{
        font-size: 18px;
    }

}

/**/

/* SEÇÃO 3 */

.trilha{
    padding: 60px 0 80px 0;
}

.trilha .container-fluid{
    width: 1600px;
}


.block-trilha{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 16px;
    border: 2px solid var(--gray-100, #E3E4EB);
    background: #F3F4F6;
    padding: 56px 95px;
}

.block-trilha h2{
    font-size: 32px;
}

.block-trilha h5{
    margin-top: 16px;
}

/**/

/*RESPONSIVIDADE SEÇÃO 3*/

@media (max-width:1600px){
    
    .trilha .container-fluid{
        width: 100%;
    }

}

@media (max-width:1024px){
    .block-trilha{
        padding: 40px;
    }

    .block-trilha img{
       width: 48px;
    }

    .block-trilha h2{
        font-size: 28px;
    }

    .block-trilha h5{
        margin-top: 8px;
    }

}

@media (max-width:767px){
    .trilha{
        padding: 24px 0 40px 0;
    }

    .block-trilha{
        padding: 24px;
        margin-bottom: 16px;
    }

    .block-trilha h2{
        font-size: 24px;
    }
}

/**/

/*SEÇÃO 4*/

.webinars{
    padding: 64px 0 80px 0;
}

.webinars .container{
    width: 1192px;
}

.block-webinars-topico{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--gray-200, #CACBD1);
    padding-bottom: 24px;
}

.block-webinars-topico h4{
    color: var(--gray-700, #363638);
}

.block-webinars-topico-pesquisa{
    display: flex;
    gap: 32px;
}

.block-webinars-topico-pesquisa input,
.block-webinars-topico-pesquisa input:focus-visible{
    border: 0;
    outline: 0;
}

.block-webinars-topico-pesquisa .data:focus-visible{
    border: auto;
    outline: auto;
}

.block-webinars-topico-pesquisa label,
.block-webinars-topico-pesquisa-filtro select,
.block-webinars-topico-pesquisa-filtro input{
    border-radius: 8px;
    border: 1px solid var(--gray-200, #CACBD1);
    background: var(--white, #FFF);
    padding: 4px;
}

.block-webinars-topico-pesquisa label{
    display: flex;
    align-items: center;
    gap: 8px;
    width: 326px;
}

.block-webinars-topico-pesquisa label input{
    font-size: 14px;
    width: 100%;
}

.block-webinars-topico-pesquisa-filtro{
    display: flex;
    gap: 16px;
}

.block-webinars-topico-pesquisa-filtro input,
.block-webinars-topico-pesquisa-filtro select{
    color: var(--gray-700, #363638);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
}

.block-webinars-topico-pesquisa-filtro .data,
.block-webinars-topico-pesquisa-filtro .categoria{
    width: 160px;
}

.block-webinars-topico-pesquisa-filtro .tipo{
    width: 120px;
}

.block-webinars-lista{
    padding-top: 48px;
}

.block-webinars-lista-cartao{
    border-radius: 16px;
    background: var(--white, #FFF);
    overflow: hidden;
    margin-bottom: 80px;
}

.block-webinars-lista-cartao-miniatura{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 65px 80px 65px 90px;
    height: 216px;
}

.block-webinars-lista-cartao-miniatura span{
    font-size: 8.813px;
    font-weight: 500;
    line-height: 10.281px; /* 116.667% */
    letter-spacing: 0.705px;
}

.block-webinars-lista-cartao-miniatura h2{
    font-size: 29.375px;
    font-style: normal;
    font-weight: 700;
    line-height: 35.25px; /* 120% */
}

.block-webinars-lista-cartao-conteudo{
    padding: 32px 24px;
    border-radius: 0px 0px 16px 16px;
    border-right: 2px solid var(--gray-100, #E3E4EB);
    border-bottom: 2px solid var(--gray-100, #E3E4EB);
    border-left: 2px solid var(--gray-100, #E3E4EB);
}

.block-webinars-lista-cartao-conteudo h4{
    color: var(--gray-900, #0A0A0A);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 133.333% */
}

.block-webinars-lista-cartao-conteudo h6{
    color: var(--gray-500, #6D6D70);
    font-weight: 400;
    padding-top: 8px;
}

.block-metas{
    padding: 16px 0 0 0;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.block-metas div{
    display: flex;
    align-items: center;
    gap: 8px;
}

.block-metas h6{
    padding: 0;
}

/**/

/*RESPONSIVIDADE SEÇÃO 4*/

@media (max-width:1400px){
    .block-webinars-lista-cartao-miniatura{
        padding: 65px 70px;
    }
}


@media (max-width:1024px){
    .webinars {
        padding: 0 0 60px 0;
    }

    .webinars .container{
        width: 100%;
    }

    .webinars .col-md-4{
        width: 50%;
    }

    .block-webinars-topico{
        flex-direction: column;
    }

    .block-webinars-topico-pesquisa{
        padding-top: 16px;
        gap: 16px;
        justify-content: space-between;
    }

    .block-webinars-topico-pesquisa label{
        width: 100%;
    }

    .block-webinars-lista {
        padding-top: 32px;
    }

    .block-webinars-lista-cartao {
        margin-bottom: 40px;
    }

    .block-webinars-lista-cartao-miniatura{
        padding: 65px 50px;
    }

    .block-webinars-lista-cartao-conteudo .block-metas{
        gap: 8px;
        flex-direction: column;
    }
}

@media (max-width:767px){

    .webinars {
        padding: 0 0 40px 0;
    }

    .webinars .col-md-4{
        width: 100%;
    }

    .block-webinars-topico{
        text-align: center;
    }

    .block-webinars-topico-pesquisa{
        flex-direction: column;
        gap: 8px;
    }

    .block-webinars-lista {
        padding-top: 24px;
    }

    .block-webinars-topico-pesquisa-filtro .data,
    .block-webinars-topico-pesquisa-filtro .categoria{
        width: 100%;
    }

    .block-webinars-topico-pesquisa-filtro .tipo{
        width: 100%;
    }

    .block-webinars-lista-cartao-conteudo .block-metas{
        flex-direction: row;
    }
}


/**/

/*RESPONSIVIDADE TITULOS*/

@media (max-width:1024px){
    h1{
        font-size: 46px;
        line-height: 128%; /* 128.571% */
    }
    
    h2{
        font-size: 32px;
        line-height: 140%; /* 140% */
    }
    
    h3{
        font-size: 24px;
        line-height: 150%; /* 150% */
    }
    
    h4{
        font-size: 20px;
        line-height: 133%; /* 133.333% */
    }
    
    h5{
        font-size: 14px;
        line-height: 150%; /* 150% */
    }
    
    h6{
        font-size: 14px;
        line-height: 170%; /* 171.429% */
    }
    
    p{
        font-size: 14px;
        line-height: 177%; /* 177.778% */
    }
    
    a{
        font-size: 14px;
        line-height: 120%; /* 200% */
    }
}

@media (max-width:767px){
    h1{
        font-size: 36px;
        line-height: 128%; /* 128.571% */
    }
    
    h2{
        font-size: 24px;
        line-height: 140%; /* 140% */
    }
    
    h3{
        font-size: 20px;
        line-height: 150%; /* 150% */
    }
    
    h4{
        font-size: 18px;
        line-height: 133%; /* 133.333% */
    }
    
    h5{
        font-size: 12px;
        line-height: 150%; /* 150% */
    }
    
    h6{
        font-size: 12px;
        line-height: 170%; /* 171.429% */
    }
    
    p{
        font-size: 12px;
        line-height: 177%; /* 177.778% */
    }
    
    a{
        font-size: 12px;
        line-height: 120%; /* 200% */
    }
}

/**/